.connEdit{
    top: 20%;
    left: 25%;
    background-color: #E9ECEF;
    border: 2px solid #B4C9D3;
    border-radius: 10px;  
}
.circle{
    height: 50px;
    width: 50px;
    background-color: #FDBF5A;
    border-radius: 50%;
    cursor: pointer;
}
.third,
.second,
.first
{top: 36.5%;}
.third{left: 25%;}
.second{left: 47%;}
.first{right: 25%;}